@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;/*la altura de la pagina ocupa el 100% del navegador*/
    background-color:#000000;
    color: #FFFFFF;
    box-sizing: border-box; /* hace que los elementos hijos no sobresalgan del elemento padre*/
}
.header{
    position: fixed;
    z-index: 1000; /* Para asegurarse de que esté por encima de otros elementos */
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 1%;
    background-color:#000000;
}

.header__menu{
    display: flex;
    gap: 80px;
    list-style: none;
}

.header__menu__link{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;;
    font-weight: 600;
    color: #FFFFFF;
}

/* Estilo para enlaces que no han sido visitados */
a:link {
    color:#FFFFFF;
    text-decoration: none;
  }
  
  
  /* Estilo para cuando el ratón está sobre el enlace */
  a:hover {
    font-size: 20px; 
  }
  
  /* Estilo para cuando el enlace está activo (clickeado) */
  a:active {
    color: #22D4FD;
  }
  


#imgLogo{
    
    width: 5%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    text-align:start;
    z-index: 1000; /* Para asegurarse de que esté por encima de otros elementos */
}
/*Estilos al Main*/

.contenido{
   
    padding-top: 10%; 
    padding-bottom: 10%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:3%;
    gap: 30px;
}

.contenido__presentacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 80%;
}
.div__contenido__presentacion{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

  @keyframes deslizarArriba {
    0% {
      transform: translateY(100%); /* Empieza fuera de la vista, abajo */
      opacity: 0; /* Inicialmente invisible */
    }
    100% {
      transform: translateY(0); /* Posición final, en su lugar original */
      opacity: 1; /* Totalmente visible */
    }
  }
  
  /* Aplica la animación al elemento */
  div.div__contenido__presentacion{
  font-size: 24px;
  animation: deslizarArriba 1s ease-out;
  }
  

.contenido__presentacion__titulo{
    font-family: "Krona One", sans-serif;
    font-size: 2rem;;
    font-weight: 600;
}


section div p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;;
    font-weight: 400;
}

section div p strong{
    color: #22D4FD;
}


.github{
    border: 2px solid #16b9da;
    border-radius: 12px;
    width:2rem;
    padding: 2%;
    opacity: 0.5;
    transition: transform 0.3s ease;
}

.github:hover{
    opacity: 1;
    transform: scale(1.30);

}

.contenido__imagen{
    width: 25%;
    border-radius: 180px;
}

.contenido__tecnologias{
    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;;
    font-weight: 400;
}
/* Filas pares */
tr:nth-child(even) {
    background-color: #FFFFFF; /* Color de fondo para filas pares */
  }
  
  /* Filas impares */
  tr:nth-child(odd) {
    background-color: #FFFFFF; /* Color de fondo para filas impares */
  }
  
  /* Estilos para las celdas */
  td, th {
    padding: 10px; /* Espacio interno de las celdas */
    border: 1px solid #000000; /* Borde de las celdas */
    text-align:center; /* Alinear el texto a la izquierda */
    color: #000000;
  }
  
  /* Encabezado de la tabla */
  th {
    background-color: #22D4FD; /* Color de fondo para el encabezado */
    color: #000000; /* Color del texto del encabezado */
  }
  

.contenido__tecnologias__iconos{
    display: flex;
    justify-content:center;
    gap: 20px;
    padding: 20px;
    margin: 2%;
}

div img{
    width: 5%;
}


#titulos__tabla{
   padding: 1%;
   width: 30%;
}

.contenido__formulario{
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    border: solid #FFFFFF;
    
}

.contenido__formulario__input{
    padding-top:5px;
    padding-bottom: 5px;
}

.contenido__formulario label, 
.contenido__formulario input {
    display: block; /* Hace que los elementos ocupen una línea completa */
    width: 100%; 
    margin-bottom: 15px; /* Añade espacio debajo de cada elemento */
}

.contenido__formulario__btn{
    width: 35%;
    margin: auto;
    padding: 12px 0;
    border-radius: 8px;
    text-decoration: none;
    color: #000000;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    
}

.contenido__formulario__btn i {
    width:1rem;
}


/*Estilos para el pie de pagina*/

.footer{
    position: fixed;
    z-index: 1000; /* Para asegurarse de que esté por encima de otros elementos */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #22D4FD;
    padding: 20px;
    color: #000000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;;
    font-weight: 600;
}

  /* Tablet horizontal */
  @media (max-width: 1080px) { 
    .header__menu {
        gap: 40px; /* Reducir espacio entre enlaces */
    }
    
    .contenido__presentacion {
        flex-direction: column;
        width: 90%; /* Ajustar tamaño del contenedor */
    
    }
    
    .contenido__imagen {
        width: 30%; /* Hacer la imagen un poco más grande */
    }

    .contenido__presentacion__titulo {
        font-size: 1.8rem; /* Reducir tamaño de texto */
    }
    
    .contenido__presentacion__texto {
        font-size: 1.3rem; /* Reducir texto para tablet */
    }

    .contenido__tecnologias {
        font-size: 0.9rem; /* Ajustar tamaño de texto */
    }
    div img{
        width: 7%;
    }
}

/* Tablet vertical */
@media (max-width: 768px) { 
    .header{
        position: relative;
    }

    #imgLogo{
        width: 10%;
       }
    .header__menu {
        flex-direction: column;
        gap: 20px; /* Reorganizar menú verticalmente */
    
    }

    .contenido__presentacion {
        width: 100%;
    }

    .contenido__imagen {
        width: 40%; /* Ajustar tamaño de imagen */
    }

    .contenido__presentacion__titulo {
        font-size: 1.5rem; /* Reducir más el texto */
    }
    
    .contenido__presentacion__texto {
        font-size: 1.1rem;
    }

    .contenido__tecnologias {
        font-size: 0.8rem;
    }

    .contenido__formulario {
        width: 80%; /* Hacer el formulario más pequeño */
    }

    .contenido__formulario__btn {
        width: 50%; /* Aumentar tamaño del botón */
    }

    div img{
        width: 10%;
    }
}

/* Mobil 1 */
@media (max-width: 480px) { 
    .header {
        flex-direction: column;
        padding: 2%;
        position: relative;
    }
    
    #imgLogo{
        width: 15%;
       }
    .contenido__presentacion {
        gap: 10px; /* Reducir espacios */
        width: 100%;
        flex-direction: column;
    }

    .contenido__imagen {
        width: 50%; /* Ajustar el tamaño de la imagen */
    }

    .contenido__presentacion__titulo {
        font-size: 1.2rem; /* Hacer el texto más pequeño */
    }

    .contenido__presentacion__texto {
        font-size: 1rem;
    }

    .contenido__formulario {
        width: 100%; /* Ocupa todo el ancho */
    }


    .footer {
        font-size: 0.5rem; /* Achicar la letra del footer */
    }

    div img{
        width: 10%;
    }
}

/* Mobil 2 */
@media (max-width: 375px) { 
    .header__menu {
        gap: 10px; /* Menor espacio entre los elementos */
        position: relative;
    }

    .contenido__imagen {
        width: 60%; /* Imagen más grande para dispositivos pequeños */
    }

    div img{
        width: 10%;
    }

    .contenido__presentacion__titulo {
        font-size: 1rem; /* Texto más pequeño */
    }

    .contenido__presentacion__texto {
        font-size: 0.9rem; /* Texto más pequeño */
    }

    .contenido__formulario__btn {
        width: 40%; /* Aumentar el tamaño del botón */
    }

    .footer {
        font-size: 0.5rem; /* Achicar la letra del footer */
    }

   #imgLogo{
    width: 15%;
   }
}
